html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
}

.heading {
    margin-bottom: 0;
}

.objective {
    text-align: center;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 3em;
}

.card {
    height: 125px;
    width: 125px;
    margin: 5px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transform-style: preserve-3d;
    transition:
    font-size 0.3s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    background 0.5s;
}

.card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.card.show {
    font-size: 2em;
}

.card.match {
    cursor: default;
    background: #02ccba;
    font-size: 2em;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    width:600px;
    height: 100%;
    max-width: 660px;
    text-align: left;
    margin-bottom: 10px;
    display: inline-block;
}

.score-panel .stars {
    margin: 0;
    padding: 5;
    display: inline-block;
    margin: 0 5px 0 5px;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.score-panel .clock {
    float: left;
    margin-left: 0%
}

/*
 * Styles for the Modal window
 */

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 61, 73, 0.4);
    z-index: 1000; 
}

.modal__body {
    position: relative;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border-radius: 20px;
}

.modal__title {
    font-size: 1.6rem;
    font-weight: 200;
    text-align: center;
    padding: 20px;
    color: #707070;
    margin-bottom: 0;
}

.modal__heading {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    margin-bottom: 0;
}

hr {
    margin-top: 0;
}

.modal__close {
    cursor: pointer;
}

h4 {
    text-align: left;
    padding: 0 3rem;
}

.modal__buttons {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.modal__button {
    background: #02ccba;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: 0;
    padding: 5px 20px;
    cursor: pointer;
}

.hide {
    display: none;
}

/*
 * Styles for bounce when cards succesfully matched
 */

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-20px);}
} 

.bounce {
    animation-duration: 0.9s;
    animation-name: bounce;
}

.deck .card.bounce {
    animation: bounce 0.9s;
}

/*
 * Media queries to make the game responsive
 */

 @media screen and (max-width: 720px) {
    .deck {
        max-width: 80%;
        height: 100%;
        padding: 15px;
    }

    .card {
        width: 100px;
        height: 100px;
    }

    .score-panel {
        width: 80%;
    }
}

@media screen and (max-width: 591px) {
    .deck {
        max-width: 85%;
        max-height: 80%;
        padding: 10px;
    }

    .card {
        width: 87px;
        height: 100px;
    }

    .score-panel {
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    .deck {
        max-width: 90%;
        max-height: 80%;
        padding: 15px;
    }

    .card {
        width: 70px;
        height: 95px;
    }

    .score-panel {
        width: 80%;
    }

    .objective {
        display: none;
    }
    
    .heading {
        margin: 35px 0;
    }
}


@media screen and (max-width: 390px) {
    .deck {
        max-width: 85%;
        max-height: 85%;
        padding: 5px;
    }

    .card {
        width: 55px;
        height: 70px;
    }

    .score-panel {
        width: 70%;
    }

    .objective {
        display: none;
    }

    .heading {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 320px) {
    .deck {
        max-width: 90%;
        max-height: 95%;
        padding: 5px;
    }

    .card {
        width: 45px;
        height: 85px;
    }

    .score-panel {
        width: 85%;
    }

    .objective {
        display: none;
    }

    .heading {
        margin-bottom: 15px;
    }
}